*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
   --dark-mode-dark-blue: hsl(209, 23%, 22%);
   --dark-mode-bg-dark-blue: hsl(207, 26%, 17%);
   --light-mode-text-dark-blue: hsl(200, 15%, 8%);
   --light-mode-input-dark-gray: hsl(0, 0%, 52%);
   --light-mode-bg-light-gray: hsl(0, 0%, 98%);
   --white: hsl(0, 0%, 100%);
}

/* theme color */
    /* app  */
.app-dark-theme {
    background-color: var(--dark-mode-bg-dark-blue) !important;
}
    /* header */
.app-dark-theme .header__box{
    background-color: var(--dark-mode-dark-blue) !important;
    color: var(--white) !important;
}
    /* search input */
.app-dark-theme .search-input-box {
    background-color: var(--dark-mode-dark-blue) !important;
}
.app-dark-theme .search-input-icon, .search-input::placeholder, .search-input {
    color: var(--light-mode-bg-light-gray) !important;
}
    /* filter continent */
.app-dark-theme .filter-continent {
    background-color: var(--dark-mode-dark-blue) !important;
}
.MuiList-root {
    background-color: var(--dark-mode-dark-blue) !important;
    color: var(--white) !important;
}
.app-dark-theme .filter-continent__text {
    color: var(--white) !important;
}
.app-dark-theme .filter-continent__option {
    color: var(--white) !important;
    background-color: red !important;
}
    /* country card */
.app-dark-theme .card {
    background-color: var(--dark-mode-dark-blue) !important;
    color: var(--white) !important;
}
.app-dark-theme .card__strong {
    color: var(--white) !important;
}
.app-dark-theme .card__gray {
    color: rgb(182, 182, 182);
} 
.app-dark-theme .country-item__btn {
    background-color: var(--white);
    color: #111;
}


    /* country details */
.app-dark-theme .country-detail {
    height:1100px;    
    color: var(--white);
}
.app-dark-theme .country-detail__link {
    background-color: var(--dark-mode-dark-blue);
    color: var(--white) !important;
}
.app-dark-theme .country-detail__text {
    font-weight: 500;
    color: var(--light-mode-bg-light-gray);
}
.app-dark-theme .country-detail__text--gray {
    color: gray;
}
    

/* country detail page styles */
.country-detail__text {
    margin-right: 8px;
}

.country-detail__btn {
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    background-color: #fff !important;
    color: #111 !important;
}
.country-detail__link {
    text-decoration: none !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100px;
    padding: 10px 13px;
    color: #111 !important;
}

/* country item */
.country-item__btn {
    text-decoration: none !important;
    margin-left: 8px;
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

 
/* search input */
.search-input::placeholder {
    color: rgb(155, 155, 155) !important;
}
.search-input {
    color: #111 !important;
}
